<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Path: src\main\resources\Mapper\AdminDaoMapper.xml -->
<mapper namespace="com.cy.studentsel.DAO.AdminDAO">
    <select id="queryAllAdmin" resultType="com.cy.studentsel.entity.AdminRecord">
        select * from admin
    </select>

    <select id="queryAdminByID" resultType="com.cy.studentsel.entity.AdminRecord" parameterType="String">
        select * from admin where admin.id = #{admin_id}
    </select>

    <update id="updateAdmin" parameterType="com.cy.studentsel.entity.AdminRecord">
        update admin set id = #{id}, pwd = #{pwd} where id = #{id}
    </update>

    <delete id="deleteAdmin" parameterType="String">
        delete from admin where admin.id = #{admin_id}
    </delete>

    <insert id="addAdmin" parameterType="com.cy.studentsel.entity.AdminRecord">
        insert into admin values (#{id}, #{pwd})
    </insert>

</mapper>