<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Path: src\main\resources\Mapper\CourseSelDaoMapper.xml -->
<mapper namespace="com.cy.studentsel.DAO.SCDAO">
    <select id="queryAllSC" resultType="com.cy.studentsel.entity.SCRecord">
        select * from sc
    </select>
    <select id="querySCByStudentID" resultType="com.cy.studentsel.entity.SCRecord" parameterType="String">
        select * from sc where sc.id = #{teacher_id}
    </select>
    <select id="querySCByCourseID" resultType="com.cy.studentsel.entity.SCRecord" parameterType="String">
        select * from sc where sc.courseid = #{course_id}
    </select>
    <delete id="deleteSC" parameterType="String">
        delete from sc where sc.id = #{id} and sc.courseid = #{courseid}
    </delete>
    <insert id="addSC" parameterType="com.cy.studentsel.entity.SCRecord">
        insert into sc values (#{id}, #{courseid}, #{grade})
    </insert>
</mapper>